//Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f1f1f1;
$medium-color: #ddd;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color)) > 50 {
    @return #333;
  } @else {
    @return #f1f1f1;
  }
}